@import '../../../styles/color';
@import '../../../styles/variables';

%studentCard {
  width: 18%;
  margin: 1%;
  background-color: $gold;
  box-shadow: $box-shadow;

  .imgHolder {
    height: 250px;
    overflow: hidden;

    img {
      width: 100%;
  }
  }
}

@mixin house-styles($housecolor) {
  @extend %studentCard;

  h2 {
    color: $housecolor;
  }
}

.studentgryffindor {
 @include house-styles($gryffindor);
}

.studentslytherin {
  @include house-styles($slytherin);
}

.studenthufflepuff {
  @include house-styles($hufflepuff);
}

.studentravenclaw {
  @extend %studentCard;

  h2 {
    color: $ravenclaw;
  }
}